<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="musicLogic" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
	</configSections>
	<connectionStrings>
		<add name="default" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=GrammophoneDomosMusic_EF6_Test;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<musicLogic xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<assembly name="Grammophone.Domos.Tests.Music.DataAccess" />
		<assembly name="Grammophone.Domos.Tests.Music.DataAccess.EntityFramework" />
		<assembly name="Grammophone.Domos.Tests.Music.Logic" />
		<assembly name="Grammophone.Domos.AccessChecking" />
		<container>
			<register type="Grammophone.Domos.Tests.Music.DataAccess.IMusicDomosDomainContainer" mapTo="Grammophone.Domos.Tests.Music.DataAccess.EntityFramework.EFMusicDomosDomainContainerAdapter">
				<constructor />
			</register>
			<register type="Grammophone.Domos.AccessChecking.IPermissionsSetupProvider" mapTo="Grammophone.Domos.Tests.Music.Logic.MusicPermissionsSetupProvider">
				<lifetime type="singleton" />
			</register>
		</container>
	</musicLogic>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
